@charset "UTF-8";
* {
  box-sizing: border-box;
}
/* 初期設定 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #e6e4e0;
}

.img {
  width: 100%;
}

html,
body {
  overflow-x: hidden; /* 横スクロール対策 */
}

/*ハンバーガーメニューのスクロール位置*/

#借りる {
  scroll-margin-top: 80px;
}
#買う {
  scroll-margin-top: 80px;
}
#大家について {
  scroll-margin-top: 80px;
}
#問い合わせ {
  scroll-margin-top: 80px;
}

/* 動画のラッパー */
.video-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* 動画本体（共通） */
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

/* PC向け動画を表示 */
@media screen and (min-width: 769px) {
  .video-pc {
    display: block;
  }
}

/* スマホ向け動画を表示 */
@media screen and (max-width: 768px) {
  .video-sp {
    display: block;
    height: 90%;
  }
}

/*各パーツに動き*/
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.header {
  height: 50px;
  background-color: #a8a7a7;
  color: #fff;
  border-bottom: 1px solid #d0d0d0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.header__logo {
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

/* ハンバーガーメニューのボタン */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
}
.menu-btn span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px;
  background: #ffffff;
  transition: 0.3s;
}

/* メニュー本体 */
.drawer-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #a8a7a7;
  color: rgb(194, 159, 159);
  z-index: 1000;
  transition: right 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawer-menu ul {
  list-style: none;
  padding: 0;
}
.drawer-menu ul li {
  margin: 20px 0;
  font-size: 24px;
}
.drawer-menu ul li a {
  color: white;
  text-decoration: none;
}

/* 開いたときのスタイル */
.drawer-menu.open {
  right: 0;
  background-color: #a8a7a7;
}

/* ×ボタン */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: white;
  cursor: pointer;
  z-index: 1002;
}

/*fv*/
.fv-picture {
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*共通*/
.inner {
  max-width: 1080px;
  margin: 0 auto;
}

.section-heading1 {
  margin-top: 100px;
  font-size: 50px;
  font-family: monospace;
  color: #686464;
}

.section-heading2 {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  font-family: monospace;
  color: #686464;
  margin-top: 100px;
}

.about-img {
  width: 500px;
  padding: 20px;
}

.about-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.about-contents {
  border: 2px solid rgb(157, 157, 157); /* 白い枠線 */
  padding: 2rem; /* 内側の余白 */
  border-radius: 12px; /* 角を少し丸くすると柔らかい印象に */
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* 背景がある場合、少し透かして枠が映える */
  box-shadow: 0 0 10px rgba(157, 157, 157); /* 軽く白い影もOK */
  display: flex;
  gap: 100px;
  align-items: center;
}

.about-contents2 {
  border: 2px solid rgba(157, 157, 157); /* 白い枠線 */
  padding: 2rem; /* 内側の余白 */
  border-radius: 12px; /* 角を少し丸くすると柔らかい印象に */
  background-color: rgba(
    255,
    255,
    255,
    0.05
  ); /* 背景がある場合、少し透かして枠が映える */
  box-shadow: 0 0 10px rgba(157, 157, 157); /* 軽く白い影もOK */
  display: flex;
  justify-content: right;
  gap: 100px;
  align-items: center;
  width: 100%;
}

.about-text {
  margin: 50px auto;
  font-size: 20px;
  color: #463b33ff;
}

/*借りる*/
.simple-button {
  font-size: 20px;
  padding: 20px;
  color: #463b33ff;
  background-color: #e6e4e0;
}
.simple-button:hover {
  background-color: #fff;
}

/*大家について*/
.about-text-main {
  font-size: 40px;
  color: #463b33ff;
  line-height: 1;
}

.about-text-sub {
  font-size: 20px;
  color: #463b33ff;
}

.about-text-1 {
  font-size: 25px;
  color: #463b33ff;
}

.about-text-2 {
  font-size: 20px;
  color: #463b33ff;
}

/*問い合わせ*/

/*フッター*/

#back-to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  left: 20px;
  z-index: 1000;
  padding: 10px 15px;
  background-color: #8a8a8a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

#back-to-top:hover {
  opacity: 1;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.footer-logo {
  width: 100%;
  display: block;
  margin-top: 100px;
}

.footer-logo img {
  max-width: 100%;
}

.footer-copy-wrapper {
  text-align: center;
  font-size: 12px;
  color: #8a8a8a;
}

/*PCでは非表示*/
.sp-only {
  display: none;
}

/*タブレット、PCサイズの表示*/
@media screen and (max-width: 768px) {
  .header {
    padding: 16px;
  }
  .about-img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }

  .section-heading1 {
    margin: 50px 40px;
    font-size: 30px;
    font-family: monospace;
    color: #686464;
  }

  .about-text-contents {
    display: contents;
  }
  .about-contents {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 40px;
  }
  .about-text {
    margin: 0;
    font-size: 15px;
  }

  .simple-button {
    margin-top: 20px;
    font-size: 15px;
    padding: 20px 40px;
  }

  .section-heading2 {
    margin: 50px 40px;
    font-size: 30px;
    font-family: monospace;
    color: #686464;
  }

  .about-contents2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
    margin: 40px; /* 中央揃えに */
    max-width: 80%; /* スマホでのはみ出し防止 */
  }

.about-text-main {
  font-size: 25px;
  margin: 0;
}
.about-text-sub {
  margin: 0;
  font-size: 12px;
}
.about-text-1 {
  margin: 0;
  font-size: 15px;
}
.about-text-2 {
  margin: 0;
  font-size: 12px;
}

.sp-only {
  display: block;
}
}
